.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.chatListWrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.chatListWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.chatListWrapper > :global(.__wab_flex-container) > *,
.chatListWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.chatListWrapper > :global(.__wab_flex-container) > picture > img,
.chatListWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.chatListWrapperisLoading {
  display: none;
}
.chatListItem:global(.__wab_instance) {
  flex-grow: 1;
}
.chatListItemisLoading:global(.__wab_instance) {
  display: none;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #66da61;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: none;
}
.svgisLoading {
  display: block;
}
