.root {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.rootisSent {
  flex-direction: row-reverse;
}
.rootisSent > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootisSent > :global(.__wab_flex-container) > *,
.rootisSent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootisSent > :global(.__wab_flex-container) > picture > img,
.rootisSent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.chatWrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  background: var(--token-3DlgrkGiT);
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
.chatWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.chatWrapper > :global(.__wab_flex-container) > *,
.chatWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.chatWrapper > :global(.__wab_flex-container) > picture > img,
.chatWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.chatWrapperisSent {
  background: #9cca903d;
}
.freeBox__wtk9P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.freeBox___7YoHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.freeBoxisSent___7YoHferpDu {
  flex-direction: row-reverse;
  flex-row-gap: 0px;
}
.freeBox__eEsS {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  left: 48px;
  top: -30px;
  display: flex;
  flex-direction: row;
}
.freeBoxisSent__eEsSerpDu {
  top: -34px;
  left: auto;
  right: 64px;
}
.slotTargetUsername {
  font-weight: 500;
  color: #000000;
}
