.root {
  flex-direction: column;
  display: flex;
  width: 360px;
  height: 100%;
  max-width: 100%;
  position: relative;
  background: var(--token-Drwm0lPiu);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.headerProfile {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-T1fInkDJn);
  border-top-left-radius: 20px;
  min-width: 0;
  padding: 8px;
}
.headerProfile > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.headerProfile > :global(.__wab_flex-container) > *,
.headerProfile > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerProfile > :global(.__wab_flex-container) > picture > img,
.headerProfile
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__oXsY {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__oXsY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__oXsY > :global(.__wab_flex-container) > *,
.freeBox__oXsY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oXsY > :global(.__wab_flex-container) > picture > img,
.freeBox__oXsY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.userAvatar:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__rNKtW {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.logoutIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.searchInputWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pFiZh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.searchRoomTextInput:global(.__wab_instance) {
  max-width: 100%;
  display: flex;
}
.svg__prNu5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cd8IG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___5Jqex {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.addNewRoomWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: linear-gradient(0deg, var(--token-IEyvDu3g2) 0%, #56b9ff 100%) 0%
      0% / 100% 100% repeat,
    var(--token-IEyvDu3g2);
  min-width: 0;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--token-T1fInkDJn);
  min-width: 0;
}
.freeBox__cweDs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
